/* --------------- FONTS --------------- */
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#maincontainer,
#footer,
font {
	font-family: Lato, Arial, Helvetica, sans-serif;
}

#header a {
  font-size: 0.95em;
}

#header li a {
	text-transform: uppercase;
}

ul#nav li {
	margin: 0;
}

p, ul, ol, dl, address, table, blockquote, fieldset {
    margin-bottom: 1em;
}

/* Fix header font and others. */
a {
    font-weight: initial !important;
}

/* --------------- NAVIGATION --------------- */

body {
    min-width: initial;
    max-width: initial;
}

#maincontainer {
	min-width: 960px;
	max-width: 1100px;
}

#header {
	border-top: initial;
	border-bottom: initial;
	border-bottom: 1px solid #ddd;
}

ul#nav li.backLava {
	display: none;
}

#logo h1 {
	display: none;
}

#logo img {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' version='1.1' id='svg5296' viewBox='0 0 203 72.999999' height='73' width='203' sodipodi:docname='logo.svg' inkscape:version='0.92.3 (2405546, 2018-03-11)'%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1366' inkscape:window-height='715' id='namedview180' showgrid='false' inkscape:snap-grids='true' inkscape:measure-start='235.899,48.7873' inkscape:measure-end='244.016,48.7787' inkscape:zoom='1.4459982' inkscape:cx='138.85513' inkscape:cy='58.095504' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='svg5296' /%3E%3Cdefs id='defs5298'%3E%3CclipPath id='clipPath690' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path692' d='m 150,4459.902 h 266.667 v 96.013 H 150 Z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath id='clipPath674' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path676' d='m 149.999,4459.902 h 266.667 v 96.012 H 149.999 Z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath id='clipPath662' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path664' d='m 150,4459.902 h 266.667 v 96.013 H 150 Z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath id='clipPath646' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path648' d='m 149.999,4459.902 h 266.667 v 96.012 H 149.999 Z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath id='clipPath590' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path592' d='m 150,4459.902 h 266.667 v 96.013 H 150 Z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath id='clipPath558' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path560' d='m 149.999,4555.376 v -57.474 c 0,0 2.23,-19.245 38.364,-37.964 v 0 l 0.114,-0.026 c 36.136,18.723 38.362,37.967 38.362,37.967 v 0 l 0.012,0.023 v 57.474 z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3CclipPath id='clipPath546' clipPathUnits='userSpaceOnUse'%3E%3Cpath id='path548' d='m 150,4459.902 h 266.667 v 96.013 H 150 Z' inkscape:connector-curvature='0' /%3E%3C/clipPath%3E%3C/defs%3E%3Cmetadata id='metadata5301'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg transform='matrix(0.61174252,0,0,0.61174252,-123.5136,-273.65205)' id='layer1'%3E%3Cg id='g542' transform='matrix(1.25,0,0,-1.25,14.405804,6141.5339)'%3E%3Cg clip-path='url(%23clipPath546)' id='g544'%3E%3Cg transform='translate(226.839,4497.8794)' id='g550'%3E%3Cpath id='path552' style='fill:%23b18f1f;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 c 0,0 -2.226,-19.244 -38.362,-37.967 l -0.114,0.025 C -74.61,-19.223 -76.839,0.023 -76.839,0.023 V 57.498 H 0.011 V 0.023 L 0,0' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g554' transform='matrix(1.25,0,0,-1.25,14.405804,6141.5339)'%3E%3Cg clip-path='url(%23clipPath558)' id='g556'%3E%3Cg transform='translate(149.8922,4521.7207)' id='g562'%3E%3Cpath id='path564' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='M 0,0 38.501,22.528 V 11.006 L 0,-10.073 Z' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='translate(188.3936,4544.2441)' id='g566'%3E%3Cpath id='path568' style='fill:%23ed1c24;fill-opacity:1;fill-rule:nonzero;stroke:none' d='M 0,0 38.491,-22.526 V -32.597 L 0,-11.519' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='translate(188.4099,4512.4741)' id='g570'%3E%3Cpath id='path572' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 36.612,-20.03 c 0,0 1.398,2.938 1.817,5.209 0.175,0.946 0,3.841 0,3.841 L 0,11.516 -0.008,-0.017' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='translate(188.4015,4512.4741)' id='g574'%3E%3Cpath id='path576' style='fill:%23ed1c24;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 -36.577,-20.08 c 0,0 -0.807,1.657 -1.611,4.27 -0.445,1.444 -0.246,4.816 -0.246,4.816 L 0,11.498 V -0.021' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='translate(188.4099,4492.1851)' id='g578'%3E%3Cpath id='path580' style='fill:%23ed1c24;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 25.981,-14.179 c 0,0 3.184,3.008 6.149,6.999 L 0,11.533 -0.008,-0.009' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='translate(188.4015,4492.189)' id='g582'%3E%3Cpath id='path584' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 -26.066,-14.057 c 0,0 -5.241,5.495 -6.004,6.816 -0.008,0.014 0,0 0,0 L 0,11.52 V 0' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='g4038' transform='translate(48,0.51350395)'%3E%3Cg transform='translate(-55.781445,23.961462)' id='g4008'%3E%3Cg transform='matrix(1.25,0,0,-1.25,350.80505,476.02553)' id='g594'%3E%3Cpath id='path596' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 h -4.998 c 0.264,1.112 0.285,2.486 0.068,4.123 L -6.434,15.738 -14.238,0 h -0.945 L -22.825,15.477 -24.293,3.886 C -24.533,1.991 -24.545,0.696 -24.327,0 h -2.579 c 0.479,1.131 0.806,2.393 0.981,3.787 l 2.415,19.428 h 1.208 l 8.784,-17.828 8.849,17.828 h 1.143 L -0.979,3.792 C -0.783,2.354 -0.459,1.09 0,0' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,381.86618,475.98515)' id='g598'%3E%3Cpath id='path600' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 h -13.584 c 0.457,1.022 0.685,2.264 0.685,3.721 v 15.413 c 0,1.458 -0.228,2.699 -0.685,3.722 H -0.523 L 0.62,20.277 c -1.743,0.632 -3.091,0.947 -4.048,0.947 h -5.65 v -7.086 h 8.162 L -1.469,12.506 H -9.078 V 1.568 h 6.138 c 0.915,0 2.276,0.326 4.083,0.979 z' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,422.43193,476.02553)' id='g602'%3E%3Cpath id='path604' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 h -5.91 c -1.87,1.85 -3.307,3.352 -4.309,4.506 -1.849,2.155 -3.614,4.582 -5.289,7.282 l 0.653,0.326 c 0.564,-0.132 1.1,-0.197 1.599,-0.197 1.503,0 2.656,0.514 3.463,1.541 0.718,0.917 1,1.943 0.848,3.08 -0.174,1.42 -0.588,2.468 -1.242,3.146 -1.154,1.179 -3.113,1.713 -5.876,1.605 V 3.733 c 0,-1.441 0.227,-2.685 0.685,-3.733 h -5.192 c 0.458,1.045 0.686,2.289 0.686,3.728 v 15.466 c 0,1.459 -0.228,2.703 -0.686,3.728 h 4.834 c 2.917,0 5.048,-0.23 6.398,-0.687 2.698,-0.913 4.126,-2.797 4.279,-5.649 0.107,-1.827 -0.567,-3.308 -2.025,-4.44 -1.199,-0.914 -2.612,-1.447 -4.246,-1.6 C -9.696,8.435 -8.325,6.845 -7.216,5.78 -5.842,4.495 -3.44,2.568 0,0' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,454.10618,450.63853)' id='g606'%3E%3Cpath id='path608' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 c -1.743,0.631 -3.091,0.946 -4.048,0.946 h -4.637 v -17.503 c 0,-1.457 0.228,-2.698 0.686,-3.72 h -5.16 c 0.458,1.022 0.686,2.263 0.686,3.72 V 0.946 h -4.636 c -0.958,0 -2.308,-0.315 -4.049,-0.946 l 1.141,2.579 h 18.874 z' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,490.2278,461.98553)' id='g610'%3E%3Cpath id='path612' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 c -0.198,2.959 -1.284,5.409 -3.265,7.346 -1.699,1.677 -3.44,2.515 -5.224,2.515 -2.961,0 -5.225,-1.11 -6.793,-3.331 -1.307,-1.851 -1.883,-3.929 -1.73,-6.236 0.195,-2.983 1.283,-5.454 3.265,-7.413 1.72,-1.72 3.472,-2.568 5.258,-2.546 3.046,0.043 5.331,1.187 6.856,3.428 C -0.392,-4.43 0.151,-2.351 0,0 m 4.212,0.424 c 0,-3.091 -1.197,-5.8 -3.591,-8.13 -2.482,-2.439 -5.508,-3.678 -9.078,-3.723 -3.484,-0.043 -6.454,0.98 -8.915,3.071 -2.524,2.154 -3.786,4.886 -3.786,8.195 0,3.112 1.197,5.844 3.59,8.195 2.504,2.46 5.53,3.691 9.079,3.691 3.504,0 6.465,-1.024 8.88,-3.071 C 2.938,6.519 4.212,3.776 4.212,0.424' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,531.53318,447.41528)' id='g614'%3E%3Cpath id='path616' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='M 0,0 C -0.284,-0.696 -0.426,-1.501 -0.426,-2.416 V -23.542 H -1.437 L -17.73,-5.746 v -14.728 c 0,-0.912 0.141,-1.718 0.425,-2.414 h -2.482 c 0.281,0.696 0.422,1.502 0.422,2.414 V 0.621 h 0.948 l 16.359,-17.763 v 14.726 c 0,0.915 -0.141,1.72 -0.424,2.416 z' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3Cg transform='translate(-55.999891,23.961462)' id='g4016'%3E%3Cg transform='matrix(1.25,0,0,-1.25,405.57412,517.70678)' id='g594-1'%3E%3Cpath id='path596-0' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 h -4.998 c 0.264,1.112 0.285,2.486 0.068,4.123 L -6.434,15.738 -14.238,0 h -0.945 L -22.825,15.477 -24.293,3.886 C -24.533,1.991 -24.545,0.696 -24.327,0 h -2.579 c 0.479,1.131 0.806,2.393 0.981,3.787 l 2.415,19.428 h 1.208 l 8.784,-17.828 8.849,17.828 h 1.143 L -0.979,3.792 C -0.783,2.354 -0.459,1.09 0,0' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,441.73506,513.74629)' id='g618-0'%3E%3Cpath id='path620-9' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m 0,0 c -2.504,-2.069 -5.311,-3.124 -8.425,-3.167 -3.461,-0.044 -6.41,0.957 -8.848,3.004 -2.568,2.175 -3.853,4.941 -3.853,8.293 0,3.091 1.185,5.812 3.558,8.163 2.503,2.46 5.541,3.69 9.11,3.69 2.677,0 5.213,-0.675 7.61,-2.025 l 0.292,-3.591 c -2.438,2.503 -5.071,3.755 -7.902,3.755 -3.026,0 -5.31,-1.143 -6.856,-3.428 -1.285,-1.851 -1.841,-3.898 -1.666,-6.139 0.218,-2.939 1.253,-5.377 3.102,-7.314 1.721,-1.785 3.626,-2.667 5.716,-2.646 2.916,0.044 5.43,1.198 7.541,3.462 z' inkscape:connector-curvature='0' /%3E%3C/g%3E%3Cg transform='matrix(1.25,0,0,-1.25,530.50303,529.1985)' id='g602-2'%3E%3Cpath id='path604-0' style='fill:%23122657;fill-opacity:1;fill-rule:nonzero;stroke:none' d='m -42.641623,9.1933774 h -5.91 c -1.87,1.8499996 -3.307,3.3519996 -4.309,4.5059996 -1.849,2.155 -3.614,4.582 -5.289,7.282 l 0.653,0.326 c 0.564,-0.132 1.1,-0.197 1.599,-0.197 1.503,0 2.656,0.514 3.463,1.541 0.718,0.917 1,1.943 0.848,3.08 -0.174,1.42 -0.588,2.468 -1.242,3.146 -1.154,1.179 -3.113,1.713 -5.876,1.605 v -17.556 c 0,-1.441 0.227,-2.685 0.685,-3.7329996 h -5.192 c 0.458,1.0449996 0.686,2.2889996 0.686,3.7279996 v 15.466 c 0,1.459 -0.228,2.703 -0.686,3.728 h 4.834 c 2.917,0 5.048,-0.23 6.398,-0.687 2.698,-0.913 4.126,-2.797 4.279,-5.649 0.107,-1.827 -0.567,-3.308 -2.025,-4.44 -1.199,-0.914 -2.612,-1.447 -4.246,-1.6 1.634,-2.111 3.005,-3.701 4.114,-4.766 1.374,-1.285 3.776,-3.212 7.216,-5.7799996' inkscape:connector-curvature='0' /%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	width: 203px;
	padding: 73px 0 0 0;
	height: 0px;
}

/* --------------- COLOURS --------------- */
a {
	color: #c8000a;
}

ul#nav li.backLava {
	background-color: #c8000a;
}

#sidemenu li a {
	color: #c8000a;
}

a.button {
	background-color: #c8000a;
}

span.required {
	color: #c8000a;
}

#mainbody p.comments a {
	color: #c8000a;
}

#commentform input#submit {
	background-color: #c8000a;
}

form.ddfm .submit input {
	background-color: #c8000a;
}

ul#nav li a {
	color: #333;
}

#logo h1 a {
	color: #333;
}

#header {
	background-color: #fff;
}

ul#nav li {
	background-color: #fff;
}

a:hover {
	color: #777;
}

#sidemenu li a:hover {
	color: #777;
}

a.button:hover {
	background-color: #777;
}

#footer {
	background-color: #eee;
	color: rgba(0,0,0,.5);
	border-top: 1px solid #ddd;
}

#footer a {
	color: rgba(0,0,0,.5);
	border: initial;
}

#footer a:hover {
	color: #636363;
}

#mainbody .date {
	background-color: #777;
}

#mainbody p.comments a:hover {
	color: #777;
}

#commentform input#submit:hover {
	background-color: #777;
}

form.ddfm .submit input:hover {
	background-color: #777;
}

ul#nav li a:hover {
	color: #777;
}

/* --------------- SIDEMENU --------------- */

#sidemenu {
	border: none;
	background: white;
	border-radius: initial;
	padding: 5px;
}

#sidemenu ul i {
	font-style: normal;
}

#sidemenu ul h3 {
	padding: 0 10px;
}

#sidemenu li {
    border-bottom: none;
}

/* disabled moving on click*/
#sidemenu li a {
  padding-left: 0 !important;
}
